@keyframes animateOpen {
	from { transform: translateX(100%); }
	to { transform: translateY(0); }
}

@keyframes animateClose {
	from { transform: translateX(0); }
	to { transform: translateX(100%); }
}

.off-canvas {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	width: 30%;
	transform: translateX(100%);
	z-index: 9;

	.floating-cart-toggle {
		position: absolute;
		right: 100%;
		padding: 10px;
		font-size: 2em;
		color: #fff;
		background: #000;
		cursor: pointer;
		line-height: 40px;
		text-align: center;

		&:hover {
			background: #333;
		}
	}

	.floating-cart-toggle:before {
		content: '';
		display: block;
		background: url('http://localhost:8080/static/bag-icon.png');
		width: 33px;
		height: 40px;
	}

	&.openCart {
		animation: animateOpen 0.5s ease forwards;

		.floating-cart-toggle:before {
			content: 'X';
			background: transparent;
		}
	}

	&.closeCart {
		animation: animateClose 0.5s ease forwards;
	}
}
.floating-cart {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #1B1A20;
	text-align: center;
	color: #666;
	overflow-y: scroll;

	.floating-cart-wrapper {
		padding: 20px;
	}
}

.cart-title {
	font-size: 2em;
	line-height: 40px;
	padding-bottom: 30px;
	color: #FFF;

	.cart-icon {
		display: inline-block;
		background: url('http://localhost:8080/static/bag-icon.png');
		width: 33px;
		height: 40px;
		position: relative;
		margin-right: 20px;
		vertical-align: bottom;

		.cart-counter {
			position: absolute;
			background: $highlightColor;
			color: #000;
			font-size: 9px;
			width: 19px;
			height: 19px;
			line-height: 19px;
			border-radius: 50%;
			text-align: center;
			font-weight: bold;
			left: 75%;
			top: 0;

		}
	}
}
.cart-body {
	text-align: left;
	padding: 10px 0;
}

.cart-list {
	border-top: 2px solid #000;
	padding-top: 10px;
}
.cart-list-item {
	position: relative;
	overflow: hidden;
	padding: 20px 0;
	border-bottom: 1px solid #444;
	transition: opacity 0.3s ease;

	&:last-child {
		border-bottom: 0;
	}

	&.removing {
		opacity: 0.4;

		* {
			text-decoration: line-through;
		}
	}

	.cart-list-actions {
		position: absolute;
		top: 10px;
		right: 0;
		z-index: 2;

		.removeItem {
			cursor: pointer;
			display: block;
			background: url('http://localhost:8080/static/sprite_delete-icon.png');
			width: 15px;
			height: 14px;

			&:hover {
				background-position: right;
			}
		}
	}

	.cart-item-image {
		float: left;
		width: 20%;

		img {
			max-width: 100%;
		}
	}
	.cart-item-info {
		float: left;
		width: 80%;
		padding-left: 10px;

		.cart-item-name {
			color: #fff;
			font-size: 1.1em;
			line-height: 1.6;
		}
		.cart-item-udas {

		}
		.cart-item-qtd {

		}
	}
	.cart-item-price {
		position: absolute;
		bottom: 10px;
		right: 0;
		color: $highlightColor;
		font-size: 1.2em;
	}
}

.cart-resume {
	overflow: hidden;
	padding: 20px 0;
	font-size: 1.6em;
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
	padding: 20px 0;

	.cart-subtotal {
		float: left;
	}
	.cart-subtotal-value {
		float: right;
		text-align: right;
	}
	.cart-subtotal-price {
		color: $highlightColor;
		padding-bottom: 5px;
	}
	.cart-subtotal-installments {
		text-transform: uppercase;
		color: #666;
		font-size: 0.55em;
	}
}
.cart-goToCheckout {

	.goToCheckout-btn {
		text-align: center;
		background: #000;
		color: #FFF;
	}
}


@media (max-width: 1190px) {
	.off-canvas {
		width: 45%;
	}
}

@media (max-width: 768px) {
	.off-canvas {
		width: 80%;
	}
}
