.shelf-wrapper {
	font-size: 0;
}

.shelf-item {
	@include inline-block();
	width: 33.33333%;
	font-size: $fontSize;
	text-align: center;

	.shelf-box {
		display: inline-block;
		width: 70%;
		padding: 15px 10px;
	}

	.shelf-image {

		img {
			max-width: 100%;
		}
	}

	.shelf-item-name {
		padding: 20px 0 15px 0;
		margin-bottom: 15px;
		position: relative;
		font-size: 1.1em;

		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			background: $highlightColor;
			height: 2px;
			width: 10%;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	.shelf-price {

		.shelf-value {
			font-size: 1.8em;
		}
	}

	.shelf-installments {
		color: #999;
		min-height: 18px;
	}
}

.btn-buy {
	background: $highlightColor;
}


@media (max-width: 1190px) {
	.shelf-item {

		.shelf-box {
			width: 100%;
		}
	}
}

@media (max-width: 768px) {
	.shelf-item {
		display: block;
		width: auto;

		.shelf-box {
			width: 80%;
		}

		.shelf-image {
			img {
				max-width: 60%;
			}
		}
	}
}
