$fontFamily: 'Avenir', Helvetica, Arial, sans-serif;
$highlightColor: #EEBE00;
$fontSize: 14px;

@import 'base/base';
@import 'base/elements';

@import 'components/floating-cart';
@import 'components/shelf';

body {
	font-family: $fontFamily;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: $fontSize;
	color: #2c3e50;
}

#app {
	width: 1190px;
	margin: 0 auto;
}


@media (max-width: 1190px) {
	#app {
		width: auto;
	}
}

@media (max-width: 768px) {
	body {
		text-align: center;
	}
}
